/*page background color*/
body {
    background-color: #eceeec;
}

/*background and text for navigation bar & footer*/
.backgrnd {
    background-color: #1e2b37;
    color: #c0c0c0;
}

.text-color a {
    color: #c0c0c0;
}

.text-color a:hover {
    color: #17a2b8;
}

.bateman-title {
    color: #0f81c7;
}

.dropdown-menu {
    background-color: #1e2b37;
}

.footer-text {
    color: white;
}

.footer-text a {
    color: #1d79b3fd;
}

.footer-text a:hover {
    color: #17a2b8;
}


/*banner image on home, about, contact, gallery & FAQ*/
.bg
{background-image: url("banner_cropped.jpg");
background-repeat: no-repeat;
background-size: cover;
background-color: #774E28;
min-height: 250px;
margin-top: 90px;
width: 100%;
opacity: 0.7;
	}

.card-img-overlay
{ margin-bottom: 0; 
font-family: 'Lobster', cursive; 
font-size: 61px;
margin: auto;
color: black;
text-shadow: 2px 2px 5px white;}


/*formatting for cards with text*/
.item-card {
    background-color: #1e2b37;
}

.item-card a:hover {
    color: #17a2b8;
}

.card-title {
    color: #0f81c7;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color:  #c0c0c0;
    border-color:  #c0c0c0;
    color: #0d669cfd;
    font-weight: bold;
}

.card-text {
    color: #c0c0c0;
}

.btn {
    color:  #0d669cfd;
}

.btn-link {
    color:   #0d669cfd;
}

.btn-link:hover {
    color: #17a2b8;
}

.btn-secondary {
    color: #faea05;
    background-color: #774E28;
    border-color: #774E28;
    
}

a:hover {
    color: #774E28;
}

h2, h4 {
    color: #0f81c7;
}

.ratings {
    color: #faea05;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }

.top-margin {
    margin-top: 100px;
}

ion-icon {
    font-size: 20px;
  }

.cart {
    color: black;
}

.cart a {
    cursor: pointer;
}

/* Cart Page */
.products-container {
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

.products-container ion-icon {
    font-size: 25px;
    color: blue;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.product-header {
    border-bottom: 4px solid lightgray;
    margin: 0 auto;
}

.product-title {
    vertical-align: center;
    padding-top: 15px;
}

.price {
    vertical-align: center;
    padding-top: 15px;
}

.quantity {
    vertical-align: center;
    padding-top: 15px;
}

.total {
    vertical-align: center;
    padding-top: 15px;
}

.product {
    justify-content: space-around;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
}

.product ion-icon {
    cursor: pointer;
}

.increase, .decrease {
    cursor: pointer;
}

.cartImage {
    width: 20%;
}

.basketTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}

.basketTotalTitle {
    width: 30%;
}

.basketTotal {
    width: 10%;
}

.hiddenTag {
    display: none;
}